<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>CDIO4</display-name>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Login Page</description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <description>User Administration</description>
    <display-name>UserAdminController</display-name>
    <servlet-name>UserAdminController</servlet-name>
    <servlet-class>controller.UserAdminController</servlet-class>
  </servlet>
  <servlet>
  	<description>Test Program</description>
  	<display-name>TestController</display-name>
  	<servlet-name>TestController</servlet-name>
  	<servlet-class>controller.TestController</servlet-class>
  </servlet>
   <servlet>
  	<description>Password Change</description>
  	<display-name>PasswordChangeController</display-name>
  	<servlet-name>PasswordChangeController</servlet-name>
  	<servlet-class>controller.PasswordChangeController</servlet-class>
  </servlet>
  <servlet>
  	<description>Main menuen</description>
  	<display-name>MainMenuController</display-name>
  	<servlet-name>MainMenuController</servlet-name>
  	<servlet-class>controller.MainMenuController</servlet-class>
  </servlet>
  <servlet>
  	<description>Editing a user</description>
  	<display-name>EditUserController</display-name>
  	<servlet-name>EditUserController</servlet-name>
  	<servlet-class>controller.EditUserController</servlet-class>
  </servlet>
  <servlet>
  	<description>Corfirm deletion of user</description>
  	<display-name>ConfirmDeleteController</display-name>
  	<servlet-name>ConfirmDeleteController</servlet-name>
  	<servlet-class>controller.ConfirmDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAdminController</servlet-name>
    <url-pattern>/user_admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestController</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordChangeController</servlet-name>
  	<url-pattern>/password_change</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MainMenuController</servlet-name>
  	<url-pattern>/mainmenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditUserController</servlet-name>
  	<url-pattern>/edit_user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConfirmDeleteController</servlet-name>
  	<url-pattern>/confirm_delete</url-pattern>
  </servlet-mapping>
</web-app>